name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@79ebfe86d111914219e66515cf6623015310def7

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@79ebfe86d111914219e66515cf6623015310def7

  verify-renovate-config:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@79ebfe86d111914219e66515cf6623015310def7

  verify-chart:
    uses: project-origin/.github/.github/workflows/reusable-verify-chart.yaml@79ebfe86d111914219e66515cf6623015310def7

  verify-container-build:
    uses: project-origin/.github/.github/workflows/reusable-build-push-container-ghcr.yaml@79ebfe86d111914219e66515cf6623015310def7
    with:
      imagename: ghcr.io/project-origin/electricity-server
      version: test
      context: .
      dockerfile: ./Electricity.Dockerfile
      push: false
