name: Build release artifacts

on:
  release:
    types: [published]

jobs:
  define-version:
    uses: project-origin/.github/.github/workflows/reusable-tag-version.yaml@ea1e6b55f91bb9905d0e7dc98e61e86fb4373a47

  publish-container:
    needs:
      - define-version
    uses: project-origin/.github/.github/workflows/reusable-build-push-container-ghcr.yaml@ea1e6b55f91bb9905d0e7dc98e61e86fb4373a47
    with:
      imagename: ghcr.io/project-origin/electricity-server
      version: ${{ needs.define-version.outputs.version }}
      context: .
      dockerfile: ./Electricity.Dockerfile
      push: true

  publish-chart:
    needs:
      - define-version
      - publish-container
    uses: project-origin/.github/.github/workflows/reusable-publish-chart.yaml@ea1e6b55f91bb9905d0e7dc98e61e86fb4373a47
    with:
      version: ${{ needs.define-version.outputs.version }}
      chart_folder: chart/
      helm_registry_repository: project-origin/helm-registry
      prerelease: ${{ github.event.release.prerelease }}
    secrets:
      helm_registry_token: ${{ secrets.HELM_REGISTRY_TOKEN }}
